<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>MyBrary</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <header>
    
    <h1 class="main-title">
      <a href="/">MyBrary</a>
    </h1>
    <h1>
      Your interactive home for all things books!
    </h1>
    <nav>
      <ul>
        <a href="/search">Search</a>
        <a href="/wishlist">Wishlist</a>
        <a href="/account">Account</a>
        <a href="/contact">Contact</a>
        <a href="/signup">Sign Up</a>
        <a href="/login">Login</a>
      </ul>
    </nav>
  </header>

  <main>
    {{{body}}}
  </main>

{{!-- <script src="/javascript/signup.js"></script> --}}

</body>

</html>