<h1>{{ book.username }}'s Account Information</h1>
<div>
  <h2>{{ book.username }}'s Reviews</h2>
  {{>review-info}}
  {{!-- link to edit review --}}
</div>
<div>
  <h2>{{ book.username }}'s Search History</h2>
  {{>book-info book}}
</div>