
<h1>{{ book.username }}'s Account Information</h1>
  <h3 class="intro">{{book.username}}'s Checked out books</h3>
  <div class="checked-out">
    {{#each book.books as |book|}}
    <div class="wish">
    {{> book-info book}}
    </div>
    {{/each}}
  </div>
  <h3 class="intro">{{ book.username }}'s Reviews</h3>
  <div class="reviews">
  {{#each book.reviews as |review|}}
  {{>review-info review}}
  <a href="/editReview/{{review.id}}">Edit Review</a>
  {{/each}}
  </div>
</div>
