<h1>{{ user.username }}'s Account Information</h1>
<div>
  <h2>{{ user.username }}'s Reviews</h2>
  {{>review-info}}
  {{!-- link to edit review --}}
</div>
<div>
  <h2>{{ user.username }}'s Search History</h2>
  {{>book-info book}}
</div>