    {{!-- add div button on other handlebar page to add book --}}
<div class="form-section">
    <h1>Add A Book</h1>
</div>
    <div class="form-section"> 
    <form class = "add-new-book">
      <div class="add-book-section">
                    <label for="book-title">Title</label>
                    <input type="text" id="book-title" name="book-title" />
      </div> 
          <div class="add-book-author">
                    <label for="book-author">Author</label>
                    <input type="text" id="book-author" name="book-author" />
                </div>
            <div class="add-book-category">
                    <label for ="category-name">Category</label>
                    {{!-- input type will be selection box --}}
            </div>
             <button type="submit" class="btn">Add Book</button> 
     </div>


<script src="/javascript/add-book.js"></script>