<div class="reviews">
  {{#if book.reviews}}
  <h3>
    Reviews
  </h3>
  
  {{#each book.reviews as |review|}}
  {{> review-info review}}
  {{/each}}
  {{/if}}
  <a href="" id="add-a-review">Add a review</a>
</div>