<article class="new-page">
    <section class="new-form-page">
        <div class="form-heading">
            <h1>Add A Review</h1>
        </div>
        <div class="form-section">
          <form class="add-review">
            <div class="review-content">
              <label for="review-content">Review</label><br>
              <textarea class="entry-field" id="review-content" name="review-content" data-id={{book.id}}></textarea>
            </div>
            <button type="submit" class="btn">Add Review</button>
          </form>
        </div>
      </section>
    </article>

<script src="/javascript/add-review.js"></script>