<script id="entry-template" type="text/x-handlebars-template">
  <div class="entry">
    <h1>Search {{{category}}}</h1>
  </div>
  <div>
    <p>
    Add a category here
    </p>
  </div>
<div>
  <p>
    Add a book here
  </p>
</div>
</script>