<article class="new-page">
  <section class="new-form-page">
    <div class="form-heading">
      <h1>Contact Us Here</h1>
    </div>
        <h4>
        P: (555.692.7279)
        </h4>
        <br>
        <h4>
        E: <a href="mailto:info@mybrary.io">info@mybrary.io</a>
        </h4>
        <br>
  </section>
</article>
