<script id="entry-template" type="text/x-handlebars-template">
  <div class="entry">
    <h1>Contact Us Here</h1>
    <div>
      <address>
    P: (555.692.7279)<br />
    E: <a href="mailto:info@mybrary.io">info@mybrary.io</a>
    </address>
    </div>
  </div>
</script>