{{!-- Account serves as dashboard for us or navbar functionality--}}
{{!-- <a href="/account" class="go-back"> &larr; Back to Account</a> --}}

<article class="new-page">
<section class="edit-form-page">



</section>
</article>





{{#if loggedIn}}
<script src="/javascript/edit-review.js"></script>
<script src="/javascript/delete-review.js"></script>
{{/if}}