<section class="book-list">
  {{#each books as |book|}}
  {{> book-info book}}
  {{/each}}
</section>


{{!-- <section class="wishlist">
  <ul>
    {{#each books as |id|}}
    <li>
      Index is: {{i}}
    </li>
    {{/each}}
  </ul>
</section> --}}

{{!-- consider how to link account handlebars are partial with this > iykyk 
 <section class="account">
<h1>{{ user.username }}'s Account Information</h1>
<div>
  <h2>{{ user.username }}'s Reviews</h2>
  {{>review-info review}}
link to edit review 
</div>
<div>
  <h2>{{ user.username }}'s Search History</h2>
  {{>book-info book}}
</div>
</section>  --}}

