<section class="book-list">
  {{#each books as |book|}}
  {{> book-info book}}
  {{/each}}
</section>

<section class="wishlist">
  <ul>
    {{#each books as |id|}}
    <li>
      Index is: {{i}}
    </li>
    {{/each}}
  </ul>
</section>

<section class="account">

</section>