<script id="entry-template" type="text/x-handlebars-template">
  <div class="entry">
<p>
  Please enter your email here.
</p>
<p>
  Please enter an username, and a password here.
</p>
  </div>
</script>