{{!-- <script id="entry-template" type="text/x-handlebars-template"> --}}
  {{!-- <div class="entry"> --}}
{{!-- <p>
  Please enter your email here.
</p> --}}
<section class = "sign-up-page">
  <div class="form-heading">
    <h1>Sign Up for MyBrary</h1>
  </div>
  <div class="form-section">
    <form class="signup-form">
      {{!-- <p>
      Please enter an username and a password to register.
      </p> --}}
      <div>
        <label for="username-signup">Enter a Username</label>
        <input type="text" class="entry-field" id="username-signup" />
      </div>
      <div>
        <label for="password-signup">Enter a Password</label>
        <input type="password" class="entry-field" id="password-signup" />
      </div>
        <button type="submit" class="signup-btn">Register for MyBrary</button>
        </div>
    </form>
  </div>

  <a href="/login" class="login-link">Already have an account for MyBrary? Login here!</a>
</section>

  {{!-- </div> --}}
{{!-- </script> --}}

<script src="/javascript/signup.js"></script>