
  <div class="entry">
    <div class="intro">
      <h1>{{{user.username}}}'s Wishlist</h1>
      <h3>Click on a book to check it out.</h3>
    </div>
    <div class="wishlist">
      {{#each user.wishes as |wish|}}
      <div class="wish">
      {{> book-info wish.book}}
      
      </div>
      
      {{/each}}

    </div>
    {{!-- figure out functionality for favoriting/voting favorite books --}}
  </div>