<div class="entry">
    <h1>{{username}}'s Wishlist</h1>
  <div>
    <h2>Click on a book to check it out.</h2>
    </div>
    {{!-- figure out functionality for favoriting/voting favorite books --}}
<div class="single-book">
  <div class="book-header">
    <h2>
      {{book.title}}
    </h2>
    <p>
      by {{book.author}}
    </p>
  </div>
  </div>
  </div>